<mat-card>
  <mat-card-content>
    <h2>reCAPTCHA V2 configuration</h2>

    <section class="example-section">
      <label class="example-margin">Isolated:</label>
      <mat-checkbox [(ngModel)]="isolated"></mat-checkbox>
    </section>

    <section class="example-section">
      <label class="example-margin">Size:</label>
      <mat-radio-group [(ngModel)]="size">
        <mat-radio-button class="example-margin" value="normal">
          Normal
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="compact">
          Compact
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="invisible">
          Invisible
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="example-section">
      <label class="example-margin">Theme:</label>
      <mat-radio-group [(ngModel)]="theme">
        <mat-radio-button class="example-margin" value="dark">
          Dark
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="light">
          Light
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <section class="example-section">
      <label class="example-margin">Badge:</label>
      <mat-radio-group [(ngModel)]="badge">
        <mat-radio-button class="example-margin" value="bottomright">
          Bottom Right
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="bottomleft">
          Bottom Left
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="inline">
          Inline
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="none">
          None
        </mat-radio-button>
      </mat-radio-group>
    </section>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h2 class="example-h2">V2 reCAPTCHA</h2>
    <button mat-button (click)="recaptcha.execute()">Angular Execute</button>
    <button mat-button (click)="recaptcha.reset()">Reset</button>
    <div #recaptcha="rcpRecaptcha"
      (recaptchaOnResolved)="onSuccess($event)" (recaptchaOnError)="onError()" (recaptchaOnExpired)="onExpired()"
      [isolated]="isolated" rcpRecaptcha [size]="size" [theme]="theme" [badge]="badge"></div>
  </mat-card-content>
</mat-card>
